.text {
  color: #FF2A68; /* Muutettava, koska ei mene accessibilitystä läpi Lighthousessa*/
  display: block;
  margin-top: 15px;
  font-size: 1.2em;
}

.input {
  outline: none;
  border-width: 0 0 1px 0;
  border-color: #FF2A68;
  font-size: 1.5em;
  font-weight: 300;
  width: 50%;
  text-align: center;
  overflow: hidden;
  padding-left: 35px;
  color: #FF2A68;
}

.input:focus {
  outline: none;
}

.persons {
  background: url("../../images/persons.svg") no-repeat;
  height: 30px;
}
