.container {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  text-align: center;
}

.item {
  flex: 1;
}

.btn {
  height: 55px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .container {
    width: 65vw;
    text-align: center;
  }

  .btn {
    height: 35px;
  }
}
