.settings {
  display: flex;
  justify-content: space-between;
}

.item {
  flex: 1;
}

.btn {
  height: 55px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {

  .btn {
    height: 35px;
  }
}
