body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue","Calibri Light",Roboto,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.app {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.context {
  width: 65vw;
  text-align: center;
}

@media only screen and (max-width: 750px) {

  .app {
    height: 80vh;
  }

  .context {
    width: 85vw;
    text-align: center;
  }

}
