body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue","Calibri Light",Roboto,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.app {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.bgColor {
  background-color: #673ab8;
}

.context {
  max-width: 1024px;
  text-align: center;
}
