body {
  min-height: 100%;
  margin: 0;
  font-family: "Helvetica Neue","Calibri Light",Roboto,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.app {

}

.headerContext {
  background-color: #FE8389;
}
