.container {
  display: flex;
  flex-direction: column;
}

.flexItem {
  flex: 1 1 auto;
}

.text {
  color: #FF2A68;
  font-size: 5em;
  font-weight: 300;
  transition: .3s ease-out all;
  margin: 0;
}

.textPaused {
  color: #C4C4C4;
  transition: .3s ease-out all;
}

.header {
  font-size: 2em;
  font-weight: 300;
  color: #C4C4C4;
  margin: .5em;
}

@media only screen and (max-width: 750px) {
  .text {
    font-size: 2em;
  }

  .header {
    font-size: 2em;
  }
}
